html {

}
body {
    font-family: Arial, sans-serif;
    background-color: #1a1a2e;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}
.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100%;
    background: rgba(42, 42, 72, 0.8);
    padding: 15px 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.container h1 {
    margin: 0;
    font-size: 24px;
    color: #a728f5;
}
.movie-results {
    max-width: 1000px;
    margin: 20px auto;
    background: rgba(42, 42, 72, 0.8);
    
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    backdrop-filter: blur(10px);
}

button {
    padding: 10px 15px;
    border: none;
    background: #a728f5;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
}
button:hover {
    background: #9224d6;
}






.search-container {
    display: flex;
    align-items: center;
    width: 500px;
    background: rgba(51, 51, 51, 0.6);
    border-radius: 25px;
    overflow: hidden;
    border: 1px solid #a728f5;
}

.search-container input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    color: white;
}

#searchYear {
    height: 25px;
    max-width: 50px;
    /* border-radius: 50px 0 0 50px; */
    border-left: 1px solid #a728f5;
}

.search-container button {
    padding: 9px 15px;
    border: none;
    border-radius: 50px;
    background: #a728f5;
    color: white;
    cursor: pointer;
    font-weight: bold;
    /* border-radius: 0 25px 25px 0; */
    margin: 5px;
}

.search-container button:hover {
    background: #9224d6;
}







.heart img {
    height: 40px;
}
.heart img:hover {
    transform: scale(1.1);
}
.movie {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(41, 41, 72, 0.8);
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);
    transition: 0.3s;
    backdrop-filter: blur(8px);
}
.movie:hover {
    transform: scale(1.02);
}
.movie img {
    width: 80px;
    height: auto;
    border-radius: 4px;
}
.movie h3 {
    flex: 1;
    margin-left: 10px;
    cursor: pointer;
}
.movie button {
    background: #ff0099;
}
.movie button:hover {
    background: #e6007e;
}





.hero {
    margin: 100px auto;
    text-align: center;
}

.hero h2 {
    margin-top: 120px;
}












.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(12px);
    z-index: 99999;
}
.modal-content {
    background: rgba(26, 26, 46, 0.9);
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    text-align: left;
    color: white;
    backdrop-filter: blur(8px);
}
.modal-content #moviePoster {
    max-height: 350px;
    width: auto;
}
.close {
    float: right;
    font-size: 35px;
    cursor: pointer;
}













